
/* Generic input styling for every input */
input, textarea {
	background: #FFFFFF;
	border: 1px solid #ccc;
	color: #3f3f3f;
	font-size: 15px;
	outline: none;
	padding: 6px;



	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	-webkit-appearance: none;
}

input:focus, textarea:focus {
	border: 1px solid #b2cf55;
	color: #000;

	-webkit-box-shadow: 0 0 13px #b2cf55; 
    -moz-box-shadow: 0 0 13px #b2cf55; 
    box-shadow: 0 0 13px #b2cf55;
}

/*	<input type="text" name="" class="small_input"> */

.small_input {
	font-size: 0.875em;
	width: 25%;
}

/* <input type="text" name="" class="medium_input"> */

.medium_input {
	width: 50%;
}

/* <input type="text" name="" class="large_input"> */

.large_input {
	width: 85%;
}

/* <input type="email" name="email_address" class="email_input" required> */

/* <input type="tel" name="tel_number"> */

/* <input type="date" class="date_picker" name="date_picker"> */

.date_picker {
	padding-right: 0;
	text-transform: uppercase;
}

/* <input type="url" name="url"> */

/* <textarea></textarea> */

textarea {
	color: #000;
	height: 150px;
	line-height: 1.3;
	resize: none;
	width: 300px;
}

/* <div class="select_buttons"> */
		//<select>
			//<option>1</option>
			//<option>2</option>
			//<option>3</option>
			//<option>4</option>
		//</select>
	//</div>


/*.select_buttons {
	background: url(http://dreamcatcher.net/images/icons/arrow-down-16.png) no-repeat 96% #ddd;
	border: 1px solid #000;
	display: inline-block;
	overflow: -moz-hidden-unscrollable;
	width: 187px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	.ie8 &,
	.ie9 & {
		overflow: hidden;
		position: relative;
		top: 10px;
	}
}*/

.select_buttons select {
	background: transparent;
	border: 1px solid #ccc;
	color: #4D4D4D;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	padding: 4px 0 4px 4px;
	width: 207px;
}

/* <input type="checkbox" class="checkbox"> */

.checkbox, .radio_buttons {
	-webkit-appearance: checkbox;
	box-shadow: none;

	&:focus {
		background: none;
	}
}

/* <input type="radio" class="radio_buttons"> */

/* <p class="success_message">Congratulations the item has been uploaded successfully!</p> */

.success_message {
	background: #23af38; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzYWYzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NTkxNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #23af38 0%, #55914e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23af38), color-stop(100%,#55914e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #23af38 0%,#55914e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #23af38 0%,#55914e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #23af38 0%,#55914e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #23af38 0%,#55914e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23af38', endColorstr='#55914e',GradientType=0 ); /* IE6-8 */
	color: #FFF;
	padding: 10px;
	position: relative;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.success_message:before {
	background: url("../images/success-tick.png") no-repeat scroll 0 0 transparent;
	content: "";
	float: left;
	height: 17px;
	margin-right: 10px;
	width: 19px;
}

/* <p class="deleted_message">You have deleted (x) items</p> */

.deleted_message {
	background: #b42b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #b42b2b 0%, #821818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b42b2b), color-stop(100%,#821818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b42b2b 0%,#821818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b42b2b', endColorstr='#821818',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	margin: 16px 0;
	padding: 10px;
	position: relative;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.deleted_message:before {
	background: url("../images/success-cross.png") no-repeat scroll 0 0 transparent;
	content: "";
	float: left;
	height: 18px;
	margin-right: 10px;
	width: 18px;
}

/*
	//<div class="prompt"> */
		//<p>Are you sure you want to delete?</p>
		//<ul>
			//<li><input type="button" class="no_button" value="No"></li>
			//<li><input type="submit" class="yes_button" value="Yes"></li>
		//</ul>
	//</div>


.prompt {
	border: 1px solid #000;
	color: #000;
	font-family: 'Trebuchet MS';
	overflow: hidden;
	padding: 20px;
	text-align: center;
	width: 50%;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.prompt p {
	margin: 0 0 16px;
}

.prompt ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

.prompt ul li {
	display: inline-block;
	width: 20%;
}

.prompt ul li input {
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 4px 10px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.prompt ul li .no_button {
	background: #ED1B24;
}

.prompt ul li .yes_button {
	background: #339900;
}

.prompt ul li .no_button:hover,
.prompt ul li .no_button:focus {
	background: #CC0000;
}

.prompt ul li .yes_button:hover,
.prompt ul li .yes_button:focus {
	background: #006600;
}


	//<div class="error_message">
		//<p>Sorry but there are some errors that need to be addressed.</p>
		//<ul>
			//<li>No Title entered</li>
			//<li>No Url entered</li>
			//<li>No Email entered</li>
			//<li>Email address invalid</li>
			//<li>No telephone number entered</li>
			//<li>Telephone number invalid</li>
		//</ul>
	//</div>

.error_message {
	background: #ff3236; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzIzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDFiMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3236 0%, #ed1b24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3236), color-stop(100%,#ed1b24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3236 0%,#ed1b24 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3236 0%,#ed1b24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3236', endColorstr='#ed1b24',GradientType=0 ); /* IE6-8 */
	color: #FFF;
	font-family: 'Trebuchet MS';
	margin: 0;
	padding: 10px;
	position: relative;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.error_message p {
	margin: 0;
}

.error_message p:before {
	background: url("http://192.168.0.37:8888/admin/admin/cross.png") no-repeat scroll 0 0 transparent;
	content: "";
	float: left;
	height: 18px;
	margin-right: 10px;
	width: 18px;
}

/* <progress value="70" max="100">70 %</progress> */

.js-image-upload-container {
	margin: 32px 0;
	overflow: hidden;
	position: relative;
	width: 100px;

	input {
		bottom: 0;
	    height: 29px;
	    left: 0;
	    opacity: 0;
	    position: absolute;
	    right: 0;
	    width: 100%;
	}

	.action {
		background: $brand-color;
		color: #FFF;
		cursor: pointer;
    	float: left;
    	overflow: hidden;
    	padding: 4px 0;
    	text-align: center;
    	width: 100%;

    	border-radius: 4px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;

    	box-shadow: inset 0 0 5px $brand-color-light;
    	-moz-box-shadow: inset 0 0 5px $brand-color-light;
    	-webkit-box-shadow: inset 0 0 5px $brand-color-light;
	}
}

.back-button {
	color: #FFF;
	cursor: pointer;
	font-size: 1em;
	padding: 2px 4px;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
    	background: $brand-color-dark;
    }
}

.seach-button {
	background: $brand-color-dark;
	border: 1px solid $brand-color;
	color: #FFF;
	padding: 8px;
	cursor: pointer;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	&:hover,
	&:focus {
		background: $brand-color-darker;
	}
}

.cancel-button {
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #a8a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#a8a8a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#a8a8a8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#a8a8a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #541515;
	color: #545454;
	cursor: pointer;
	padding: 10px 0;
	text-align: center;
	width: 90px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover,
    &:focus {
		background: #b7b7b7; /* Old browsers */
		background: -moz-linear-gradient(top,  #b7b7b7 0%, #878787 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#878787)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b7b7b7 0%,#878787 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #b7b7b7 0%,#878787 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #b7b7b7 0%,#878787 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #b7b7b7 0%,#878787 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#878787',GradientType=0 ); /* IE6-9 */

    }
}

.delete-button, .js-remove-image, .delete-btn {
	background: #b42b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #b42b2b 0%, #821818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b42b2b), color-stop(100%,#821818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b42b2b 0%,#821818 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b42b2b 0%,#821818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b42b2b', endColorstr='#821818',GradientType=0 ); /* IE6-9 */
	border: 1px solid #541515;
	color: #FFF;
	font-family: sans-serif;
	cursor: pointer;
	padding: 6px;
	text-align: center;
	width: 80px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    &:hover,
    &:focus {
    	background: #ce0003; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlMDAwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTAwMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #ce0003 0%, #aa0002 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce0003), color-stop(100%,#aa0002)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ce0003 0%,#aa0002 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ce0003 0%,#aa0002 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ce0003 0%,#aa0002 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ce0003 0%,#aa0002 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0003', endColorstr='#aa0002',GradientType=0 ); /* IE6-8 */
    }
}

.delete-button {
	float: right;
	line-height: 15px;
	margin-right: 10px;
}

.add-button {
	background: #bddc5c; /* Old browsers */
	background: -moz-linear-gradient(top,  #bddc5c 0%, #9bb54c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bddc5c), color-stop(100%,#9bb54c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bddc5c 0%,#9bb54c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bddc5c', endColorstr='#9bb54c',GradientType=0 ); /* IE6-9 */
	border: 1px solid #B1CF57;
	font-size: 15px;
	letter-spacing: 0;
	color: white;
	display: inline-block;
	line-height: 22px;
	text-align: center;
	width: 80px;
	float: right;
	margin-right: 10px;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

     transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

	.icon-plus {
		margin-left: 5px;
	}

    &:hover,
    &:focus {
    	background: #7a8f3c; /* Old browsers */
		background: -moz-linear-gradient(top,  #7a8f3c 0%, #434f21 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8f3c), color-stop(100%,#434f21)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #7a8f3c 0%,#434f21 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #7a8f3c 0%,#434f21 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #7a8f3c 0%,#434f21 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #7a8f3c 0%,#434f21 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8f3c', endColorstr='#434f21',GradientType=0 ); /* IE6-9 */

    }
}

.confirm-button {
	background: #68c914; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4YzkxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjk2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #68c914 0%, #0f9600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68c914), color-stop(100%,#0f9600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #68c914 0%,#0f9600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #68c914 0%,#0f9600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #68c914 0%,#0f9600 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #68c914 0%,#0f9600 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c914', endColorstr='#0f9600',GradientType=0 ); /* IE6-8 */
	color: white;
	display: inline-block;
	padding: 10px 0;

	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
    	background: #379600; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3OTYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDc1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #379600 0%, #007500 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#379600), color-stop(100%,#007500)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #379600 0%,#007500 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #379600 0%,#007500 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #379600 0%,#007500 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #379600 0%,#007500 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379600', endColorstr='#007500',GradientType=0 ); /* IE6-8 */
    }
}

.js-save, .processed, .save-button {
	background: #407db2; /* Old browsers */
	background: -moz-linear-gradient(top,  #407db2 0%, #0761af 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#407db2), color-stop(100%,#0761af)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #407db2 0%,#0761af 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #407db2 0%,#0761af 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #407db2 0%,#0761af 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #407db2 0%,#0761af 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407db2', endColorstr='#0761af',GradientType=0 ); /* IE6-9 */
	border: 1px solid #17416C;
	color: #FFF;
	cursor: pointer;
	width: 80px;
}

.processed {
	width: 150px;
}

.add-carousel {
	background: #bddc5c; /* Old browsers */
	background: -moz-linear-gradient(top,  #bddc5c 0%, #9bb54c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bddc5c), color-stop(100%,#9bb54c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bddc5c 0%,#9bb54c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bddc5c 0%,#9bb54c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bddc5c', endColorstr='#9bb54c',GradientType=0 ); /* IE6-9 */
	border: 1px solid #B1CF57;
	font-size: 15px ;
	letter-spacing: 0;
	color: white !important;
	display: block;
	line-height: 30px;
	text-align: center;
	width: 180px;
	margin-right: 10px;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

     transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.edit-button {
	background: $brand-color-darker;
	margin-left: 10px !important;
}

.edit_right {
	float: right;
	margin-right: 10px !important;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .select_buttons {
		overflow: hidden;
		position: relative;
		top: 10px;
	}
}

@import "components/media_queries";