.basket_table {
	border-top: 4px solid #9C295C;
	border-bottom: 1px solid #B19975;
	margin: 0 0 5px 0;
	padding: 0 0 10px 0;

	thead {
		margin: 0;
		padding: 0;

		th {
			color: #B3B3B3;
			font-family: 'RokkittRegular';
			font-size: 1.5em;
			font-weight: normal;
			text-align: center;
			line-height: 35px;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased;
			
			&:first-child {
				text-align: left;
				width: 250px;
			}
		}
	}

	tbody {
		margin: 0;
		padding: 0;

		td {
			color: #B3B3B3;
			font-family: arial;
			font-size: 17px;
			font-weight:normal;
			margin: 0;
			padding: 0;
			text-align: center;
			-webkit-font-smoothing: antialiased;

			&:first-child {
				text-align: left;
			}

			.qty {
				width: 100%;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					vertical-align: middle;
				}

				.arrow {
					width: 21px;

					a {
						display: block;
						content: "";
						width: 9px;
						height: 14px;
					}

					.left {
						background: url(../images/qty_left.png) no-repeat;
						margin-left: 12px;
					}

					.right {
						background: url(../images/qty_right.png) no-repeat;
						margin-right: 10px;
					}
				}

				input {
					border: 1px solid #B3B3B3;
					color: #B3B3B3;
					font-family: arial;
					font-size: 1.1875em;
					width: 39px;
					height: 33px;
					text-align: center;
				}
			}
		}

		.close {
			background: #B19975;
			display: block;
			color: white;
			height: 20px;
			width: 20px;
			margin-left: 2px;
			text-align: center;
			text-decoration: none;
			/**/
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;

			&:hover {
				text-decoration: underline;
			}

		}
	}
}

.total {
	background: url(../images/total_bg.png);
	height: 62px;
	width: 100%;
	overflow: hidden;
	text-align: right;

	p {
		color: #B19975;
		font-family: times;
		font-size: 1.3em;
		font-style: italic;
		font-weight: normal;
		line-height: 62px;
		padding: 0;
		margin: 0 1em 0 0;
		-webkit-font-smoothing: antialiased;
	}
	span {
		margin: 0 0 0 10px;
	}
}

.continue {
	float: left;
	margin: 1em 0 0 1em;
	font-style: italic;
	position: relative;

	&:before {
		background: url(../images/cont_before.png) no-repeat;
		content: "";
		position: absolute;
		width: 5px;
		left: -13px;
		top: 5px;
		height: 8px;
	}

	a {
		color: #B19975;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.button {
		background: #9c285d; /* Old browsers */
		background: -moz-linear-gradient(top,  #9c285d 0%, #5d225e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c285d), color-stop(100%,#5d225e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #9c285d 0%,#5d225e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #9c285d 0%,#5d225e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #9c285d 0%,#5d225e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #9c285d 0%,#5d225e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c285d', endColorstr='#5d225e',GradientType=0 ); /* IE6-9 */
		border: none;
		color: white;
		cursor: pointer;
		font-family: arial;
		font-size: 12px;
		font-weight: bold;
		float: right;
		margin: 10px 0em 0 0;
		width: 135px;
		height: 35px;
		text-transform: uppercase;
		/* CSS3 */
		border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		-webkit-border-radius: 0.4em;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;

		&:hover,
		&:focus {
			background: #971a5d; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3MWE1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzZmMWM1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzU3MWE1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDE4NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #971a5d 0%, #6f1c56 35%, #571a50 62%, #3d1848 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#971a5d), color-stop(35%,#6f1c56), color-stop(62%,#571a50), color-stop(100%,#3d1848)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #971a5d 0%,#6f1c56 35%,#571a50 62%,#3d1848 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #971a5d 0%,#6f1c56 35%,#571a50 62%,#3d1848 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #971a5d 0%,#6f1c56 35%,#571a50 62%,#3d1848 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #971a5d 0%,#6f1c56 35%,#571a50 62%,#3d1848 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#971a5d', endColorstr='#3d1848',GradientType=0 ); /* IE6-8 */
		}
	}